/* font */
@import "/style/font.css";

html {
    background-color: #e0e0e3;
}
body {
    font-family: "DungGeunMo", sans-serif;
}

/* header */
header {
    padding: 24px 16px;
    text-align: center;
}
header h1 {
    font-size: 32px;
}

/* main */
main {
    padding: 0 16px;
}

/* nav */
nav {
    margin-bottom: 24px;
    text-align: center;
}
nav button {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
}
nav label.nav-item {
    display: inline-block;
}
nav .nav-item:after,
nav button:after {
    display: block;
    width: 8px;
    height: 1px;
    background-color: #222;
    content: "";
}
nav .nav-item {
    margin-right: 16px;
}
nav .nav-item:last-child {
    margin-right: 0;
}

/* footer */
footer {
    padding: 24px 16px 10px;
    text-align: center;
    font-size: 14px;
}

/* Default Button Style */
button {
    box-shadow: inset -1px -1px 0px 0 rgb(0 0 0 / 23%), inset 1px 1px 0px 0 rgb(255 255 255 / 80%);
    padding: 10px 12px;
    border: 1px solid #222;
    background-color: #d3d3d3;
}
button.active {
    box-shadow: inset 2px 2px 1px 0 rgb(0 0 0 / 23%), inset -1px -1px 2px 0 rgb(255 255 255 / 60%);
    background: #fff;
}

/* input range */
input[type="range"] {
    -webkit-appearance: none;
    width: 150px;
    height: 4px;
    border: 1px solid #222;
    box-shadow: inset 1px 1px 0px 0 rgba(44, 44, 44, 0.4), inset -1px -1px 0px 0 rgb(255 255 255 / 90%);
    background: #b7b7b7;
}
input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    background: #fff;
    border: 1px solid #222;
    height: 16px;
    width: 8px;
    border-radius: 2px;
    box-shadow: inset -1px -1px 0px 0 rgb(0 0 0 / 40%);
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #222;
    height: 16px;
    width: 8px;
    border-radius: 2px;
    box-shadow: inset -1px -1px 0px 0 rgb(0 0 0 / 40%);
}
/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    input[type="range"] {
        padding: 0;
        background: none;
        border: none;
        box-shadow: none;
    }
}

/* canvas */
.canvas-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}
.canvas-wrap #canvas {
    border: 1px solid #222;
    background-color: #fff;
}
.canvas-wrap #tempCanvas {
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
}

/* color-info */
.color-info {
    position: absolute;
    left: calc(50% + 340px);
    bottom: 52px;
}
.color-info .selected-color {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #222;
}
.color-info .selected-color.line {
    position: absolute;
    z-index: 1;
}
.color-info .selected-color.bg {
    left: 16px;
    top: 16px;
    z-index: 0;
}

/* tools */
.tools-wrap {
    max-width: 640px;
    margin: 24px auto 0;
}
.tools-wrap > div {
    text-align: center;
}
.tools-wrap > div h2 {
    margin-bottom: 8px;
}
.tools-wrap > div + div {
    margin-top: 16px;
}
/* tools > width-controller */
.tools-wrap .width-controller-wrap label {
    display: block;
    margin-bottom: 8px;
}
/* tools > tools-controller */
.tools-wrap .tools-controller-wrap button {
    margin-bottom: 8px;
}
/* color-palette */
.tools-wrap .color-palette {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tools-wrap .color-palette .color-palette-item {
    width: 24px;
    height: 24px;
    padding: 0;
}
.tools-wrap .color-palette .color-palette-item + .color-palette-item {
    margin-left: 1px;
}
.tools-wrap .color-palette .color-palette-item.active {
    box-shadow: inset 1px 1px 2px 0 rgb(0 0 0 / 60%), inset -1px -1px 2px 0 rgb(255 255 255 / 60%);
}

/* ect */
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}
