/* font */
@import "/style/font.css";

html {
    background-color: #e0e0e3;
}

body {
    font-family: "DungGeunMo", sans-serif;
}

header {
    padding: 24px 16px 12px;
    text-align: center;
}

header h1 {
    font-size: 32px;
}

main {
    padding: 24px 16px 0;
}

footer {
    padding: 24px 16px 10px;
    text-align: center;
    font-size: 14px;
}

button {
    box-shadow: inset -1px -1px 0px 0 rgb(0 0 0 / 23%), inset 1px 1px 0px 0 rgb(255 255 255 / 80%);
    padding: 10px 12px;
    border: 1px solid #222;
    background-color: #d3d3d3;
}
button.active {
    box-shadow: inset 2px 2px 1px 0 rgb(0 0 0 / 23%), inset -1px -1px 2px 0 rgb(255 255 255 / 60%);
    background: #fff;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 150px;
    height: 4px;
    border: 1px solid #222;
    box-shadow: inset 1px 1px 0px 0 rgba(44, 44, 44, 0.4), inset -1px -1px 0px 0 rgb(255 255 255 / 90%);
    background: #b7b7b7;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #222;
    height: 16px;
    width: 8px;
    border-radius: 2px;
    box-shadow: inset -1px -1px 0px 0 rgb(0 0 0 / 40%);
}

/* canvas */
.canvas-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}
.canvas-wrap #canvas {
    border: 1px solid #222;
    background-color: #fff;
}
.canvas-wrap #tempCanvas {
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
}

.color-info {
    position: absolute;
    bottom: 52px;
    left: 258px;
}

.selected-color {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #222;
}
.selected-color.line {
    position: absolute;
    z-index: 1;
}
.selected-color.bg {
    left: 16px;
    top: 16px;
    z-index: 0;
}

.tools-wrap {
    max-width: 640px;
    margin: 24px auto 0;
}

.tools-wrap > div {
    text-align: center;
}

.tools-wrap > div h2 {
    margin-bottom: 8px;
}

.tools-wrap > div + div {
    margin-top: 16px;
}

.tools-wrap .func-btn-wrap button {
    margin-bottom: 8px;
}

/* color-palette */
.color-palette {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.color-palette .color-palette-item {
    width: 24px;
    height: 24px;
    padding: 0;
}
.color-palette .color-palette-item + .color-palette-item {
    margin-left: 1px;
}
.color-palette .color-palette-item.active {
    box-shadow: inset 1px 1px 2px 0 rgb(0 0 0 / 60%), inset -1px -1px 2px 0 rgb(255 255 255 / 60%);
}
.color-palette .color-palette-item:nth-child(1) {
    background-color: #f00000;
}
.color-palette .color-palette-item:nth-child(2) {
    background-color: #ff9933;
}
.color-palette .color-palette-item:nth-child(3) {
    background-color: #ffff00;
}
.color-palette .color-palette-item:nth-child(4) {
    background-color: #00ff00;
}
.color-palette .color-palette-item:nth-child(5) {
    background-color: #009fff;
}
.color-palette .color-palette-item.line-color:nth-child(6) {
    background-color: #222222;
}
.color-palette .color-palette-item.bg-color:nth-child(6) {
    background-color: #ffffff;
}
